.change-email-form {
  display: flex;
  align-items: center;
  /* justify-content: stretch; */
  flex: 1;
  padding: 0 20px 0 20px;
}

.update-email-input {
  flex-grow: 1;
  margin: 15px 0 15px 15px;
  border-radius: 8px;
  border: 1px solid #7f56d9;
  padding: 8px;
  background: #ede6ff;
}

.update-email {
  padding: 8px;
  margin: 5px 0 5px 20px;
  border: 3px solid #7f56d9;
  background: #7f56d9;
  color: #ffffff;
  border-radius: 8px;
  &:hover {
    border: 1px solid white;
  }
}

// **********
// Component level styles
// **********
.requestsbutton {
  background: transparent;
  color: #667085;
  border: none;
  width: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  &:hover {
    border: 2px solid white;
    font-weight: 600;
  }
}

.requestsbutton-r {
  background: transparent;
  color: rgb(224, 240, 255);
  height: 30px;
  width: 100px;
  margin: 1vh 1vw;
  font-size: 15px;
  border: 2.2px solid white;
  border-radius: 50%;
  &:hover {
    border: 2px solid white;
    font-weight: 600;
  }
}

.requestsbutton-a {
  background: transparent;
  color: #7f56d9;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 100px;
  &:hover {
    border: 1px solid #7f56d9;
    font-weight: 900;
    border: none;
    font-size: 16px;
    line-height: 24px;
  }
}

.skills-container {
  // position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 20px 0;
  // transform: translate(-50%, -50%);
}

.skills-inner {
  max-width: 600px;
  max-height: 80px;
  overflow: scroll;
  margin-top: 8px;
}

.noskills {
  text-align: center;
  font-size: 2vh;
  color: rgb(62, 52, 52);
}

.updateEmail {
  // height: 150px;
  margin-bottom: 15px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  background-color: white;
  height: 180px;
}

.user-settings-newskills {
  // height: calc((100% - 180px) / 2);
  margin-bottom: 15px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  background-color: white;
  height: calc((100% - 220px) / 2);
}

.listofskills {
  overflow: scroll;
  height: calc(100% - 70px);
}

.form-title {
  text-align: center;
  padding: 10px 0px 10px 0px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #667085;
  border-radius: 5px;
}
// ----------------------------------------
// Error handling styles
.loginerror-message {
  margin: 1vh 0.2vw;
  color: red;
}

.skill-add-error {
  text-align: center;
  color: red;
}

.email-changed {
  text-align: center;
  color: green;
}

// ----------------------------------------
// Admin styles
.form-control-admin {
  margin: 15px 0 15px 15px;
  height: 30px;
  width: calc(100% - 110px);
  border-radius: 5px;
  border: 1px solid #7f56d9;
  padding: 8px;
  background: #ede6ff;
}

.admin-settings-internal {
  width: 26vw;
  height: calc(90vh - 70px);
  margin: 5vh 37vw;
  border-radius: 5px;
}

.admin-settings-addskill {
  height: 170px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  background-color: white;
  border-radius: 5px;
}

.admin-settings-skills {
  height: calc(100% - 200px);
  margin-bottom: 2vh;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 20%);
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  background-color: white;
  border-radius: 5px;
}

.isadmin {
  color: rgb(27, 232, 27);
  float: right;
  padding-top: 15px;
}

.isadmin-main {
  color: rgb(27, 232, 27);
  float: right;
  width: 90px;
}

.skill-admin-add {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 5%;
  background: #7f56d9;
  border: 3px solid #7f56d9;
  color: white;
  &:hover {
    border: 1px solid white;
  }
}

.skill-admin-delete {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 5px;
  background: #7f56d9;
  border: 3px solid #7f56d9;
  color: white;
  &:hover {
    border: 1px solid white;
  }
}

.skill-admin {
  display: flex;
  height: 40px;
  align-items: center;
  border: 1px solid #7f56d9;
  border-radius: 5px;
  margin: 10px;
}

.skill-name-container {
  margin-left: 5%;
  flex: 1;
  font-size: 18px;
}

.password-form {
  display: flex;
  align-items: center;
}

// ----------------------------------------
// Send message or Requests
.form-wrapperdiv {
  display: block;
  text-align: center;
}

.close {
  color: Black;
  float: right;
  &:hover {
    color: rgb(101, 101, 101);
    cursor: pointer;
  }
}

.internal-messenger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    text-align: center;
    margin: 2vh 50px;
  }
}

.messenger {
  height: 22vh;
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin: 0.4vh;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(223, 223, 223);
  border-radius: 3px;
  background-color: white;
  display: flex;
}

.sendmessage {
  height: 33px;
  width: 50px;
  margin: 5px 0 5px 20px;
  border: 3px solid #7f56d9;
  background: #7f56d9;
  color: white;
  border-radius: 5px;
  &:hover {
    border: 1px solid white;
  }
}

.form-control-messenger {
  height: 30px;
  width: 360px;
  margin: 5px 0 5px 0;
  border-radius: 5px;
  border: 1px solid #7f56d9;
  padding: 8px;
  background: #ede6ff;
}

.recepientname {
  font-weight: 600;
}

.requests-inner {
  width: 40vw;
  margin: 5vh 30vw;
  height: calc(95vh - 115px);
  overflow: hidden;
}

.requests-container {
  padding-top: 20px;
  height: calc(95vh - 175px);
  overflow: scroll;
}

.requests-name {
  font-size: 14px;
  height: 30px;
}

.requests-body {
  display: inline-block;
  box-sizing: content-box;
  padding: 20px 15px;
  border-radius: 5px;
  background: #ede6ff;
}

.requests-body-new {
  display: inline-block;
  box-sizing: content-box;
  padding: 20px 15px;
  border-radius: 5px;
  border: 2px solid #7f56d9;
  background: #937bb930;
}

.request {
  margin-bottom: 40px;
}

.delete-request {
  background: #7f56d9;
  border: 3px solid #7f56d9;
  position: relative;
  bottom: 20px;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: white;
  border: none;
  &:hover {
    border: 1px solid white;
  }
}

.norequests {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vh;
  color: rgb(62, 52, 52);
}

.time {
  float: right;
  color: grey;
  font-size: 12px;
}

.username {
  padding: 8px;
  border-radius: 4px;
  color: #282828;
}

.page-title {
  text-align: center;
  // background: rgb(105, 146, 216);
  padding: 10px 0px 10px 0px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #667085;
  border-radius: 5px;
}
